
body {
  margin: 0 auto;
  max-width: 50em;
  width: 88%;
}


/**
  * Grid Layout
  */

@media (min-width: 20em) {
  #photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }
}

@media (min-width: 32em) {
  #photos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 42em) {
  #photos {
    grid-template-columns: repeat(4, 1fr);
  }
}


/**
  * Nav Menu
  */
.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 1em;
  padding: 1em 0;
}

.nav-items {
  text-align: right;
}

.nav a {
  text-decoration: none;
}

.nav a:focus,
.nav a:hover {
  text-decoration: underline;
}


/**
  * Footer
  */

footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 5em;
}


/**
  * Responsive images
  */
figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
}
